.SignInSignUpBtn {
  background-color: #1f3f37;
  width: 10rem;
  height: 3rem;
  border-radius: 8px;
  color: #f7a582;
  transition: 0.2s all ease-in-out;
}

.SignInSignUpBtn:hover {
  background-color: #f7a582;
  color: #1f3f37;
}
